<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 配置应用名称 -->
	<dubbo:application name="p2p"/>
	
	<!-- 配置注册中心 -->
	<dubbo:registry  protocol="zookeeper" address="192.168.226.128:2181"/>
	
	<!-- 引用远程服务 -->
	<dubbo:reference id="userInfoService" interface="com.bjpowernode.p2p.service.UserInfoService" check="false" version="1.0.0"/>
	
	<!-- 引用远程服务 -->
	<dubbo:reference id="loanInfoService" interface="com.bjpowernode.p2p.service.LoanInfoService" check="false" version="1.0.0"/>
	
	<!-- 引用远程服务 -->
	<dubbo:reference id="bidInfoService" interface="com.bjpowernode.p2p.service.BidInfoService" check="false" version="1.0.0"/>
	
	<!-- 引用远程服务 -->
	<dubbo:reference id="financeAccountService" interface="com.bjpowernode.p2p.service.FinanceAccountService" check="false" version="1.0.0"/>
	
	<!-- 引用远程服务 -->
	<dubbo:reference id="incomeRecordService" interface="com.bjpowernode.p2p.service.IncomeRecordService" check="false" version="1.0.0"/>
	
	<!-- 引用远程服务 -->
	<dubbo:reference id="rechargeService" interface="com.bjpowernode.p2p.service.RechargeService" check="false" version="1.0.0"/>
	
	<!-- 引用远程服务 -->
	<dubbo:reference id="onlyNumberService" interface="com.bjpowernode.p2p.service.OnlyNumberService" check="false" version="1.0.0"/>
	
</beans>